In [24]:
import os
import anndata
from tqdm import tqdm

def extract_sample_name(path):
    return path[path.index('_')+1:path.index('.dem.txt')]

assert extract_sample_name('GSM3587963_AML556-D0.dem.txt') == 'AML556-D0'

def load_data(path):
    files = os.listdir(path)
    rna_seq_files = [os.path.join(path, f) for f in files if f.endswith('.dem.txt')]
    samples = [anndata.read_text(f).T for f in tqdm(rna_seq_files)]
    sample_names = [extract_sample_name(f) for f in rna_seq_files]
    return anndata.concat(samples, label='sample', keys=sample_names, join='outer')

d = load_data('data')
d.var

100%|██████████| 42/42 [03:15<00:00,  4.66s/it]

Empty DataFrame
Columns: []
Index: [A1BG, A1BG-AS1, A1CF, A2M, A2M-AS1, A2ML1, A2MP1, A3GALT2, A4GALT, A4GNT, AA06, AAAS, AACS, AACSP1, AADAC, AADACL2, AADACL2-AS1, AADACL3, AADACL4, AADACP1, AADAT, AAED1, AAGAB, AAK1, AAMDC, AAMP, AANAT, AAR2, AARD, AARS, AARS2, AARSD1, AASDH, AASDHPPT, AASS, AATBC, AATF, AATK, AATK-AS1, ABALON, ABAT, ABCA1, ABCA10, ABCA11P, ABCA12, ABCA13, ABCA17P, ABCA2, ABCA3, ABCA4, ABCA5, ABCA6, ABCA7, ABCA8, ABCA9, ABCA9-AS1, ABCB1, ABCB10, ABCB11, ABCB4, ABCB5, ABCB6, ABCB7, ABCB8, ABCB9, ABCC1, ABCC10, ABCC11, ABCC12, ABCC13, ABCC2, ABCC3, ABCC4, ABCC5, ABCC5-AS1, ABCC6, ABCC6P1, ABCC6P2, ABCC8, ABCC9, ABCD1, ABCD2, ABCD3, ABCD4, ABCE1, ABCF1, ABCF2, ABCF3, ABCG1, ABCG2, ABCG4, ABCG5, ABCG8, ABHD1, ABHD10, ABHD11, ABHD11-AS1, ABHD12, ABHD12B, ABHD13, ...]

[27899 rows x 0 columns]

In [25]:
d.obs

                             sample
AML328-D29_AAAACCCTACAC  AML328-D29
AML328-D29_AAAACCTCGTTC  AML328-D29
AML328-D29_AAAAGGTTGGTG  AML328-D29
AML328-D29_AAACAACGCGAC  AML328-D29
AML328-D29_AAACACACATTT  AML328-D29
...                             ...
AML314-D0_AGCGCTCAACGA    AML314-D0
AML314-D0_CGAGAGCTGCAT    AML314-D0
AML314-D0_CTCGACGCCGTT    AML314-D0
AML314-D0_GAGGTTGTTGCC    AML314-D0
AML314-D0_TCCGGTCCAGTA    AML314-D0

[39954 rows x 1 columns]

In [1]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
principalComponents = pca.fit_transform(d)

NameError: name 'd' is not defined

In [ ]:
pc = principalComponents
pc.shape

In [ ]:
import plotly.express as px
fig = px.scatter(pc)
fig.show()